@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Readex+Pro&display=swap");
.none {
  display: none;
}

.visibleD {
  display: inline-block;
}

.hidden {
  display: ruby;
}

.hidden-offcanvas {
  transform: translateY(-150%);
  margin-top: -100vh;
  transition: all 0.5s ease-in-out;
}

.show-offcanvas {
  transform: translateY(3%);
  margin-top: 15vh;
  transition: all 0.5s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

.navbar-mobile-default {
  padding: 30px 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.navbar-mobile-default #links-navbar {
  transform: translateY(-150%);
  margin-top: -100vh;
  border: 1px solid blue;
  position: relative;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.navbar-mobile-offcanvas {
  padding: 30px 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.navbar-mobile-offcanvas #links-navbar {
  transform: translateY(-150%);
  margin-top: -100vh;
  border: 1px solid blue;
  position: relative;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.show-notification-form {
  animation: fade-in 1 linear forwards;
  animation-duration: 2s;
}
@keyframes fade-in {
  0% {
    visibility: visible;
    margin-top: -100%;
  }
  50% {
    visibility: visible;
    margin-top: -40%;
  }
  60% {
    visibility: visible;
    margin-top: -30%;
  }
  75% {
    visibility: visible;
    margin-top: 2%;
  }
  100% {
    visibility: visible;
    margin-top: 0%;
  }
}

/*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #x-small {
    display: visible;
  }
  #small, #medium, #large, #x-large, #xx-large {
    display: none;
  }
  #navbar {
    position: relative;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
  }
  #navbar .logo-link {
    width: 33.3333333333%;
    height: 54px;
  }
  #navbar .logo-link .logo {
    width: 110px;
    height: 54px;
  }
  #navbar .hamburguer {
    display: flex;
    flex-direction: column;
    gap: -1px;
    align-items: flex-end;
    justify-content: center;
    width: 33.3333333333%;
    height: 54px;
    cursor: pointer;
  }
  #navbar .hamburguer .bar {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(89, 34, 2);
  }
  #navbar .hamburguer.active-close .bar:nth-child(1) {
    transform: translateY(0.1em) rotate(46deg);
    margin: 0px auto;
  }
  #navbar .hamburguer.active-close .bar:nth-child(2) {
    transform: translateY(-0.2em) rotate(-45deg);
    margin: 0px auto;
  }
  #links-navbar {
    width: 33.3333333333%;
    height: 100vh;
    list-style-type: none;
    gap: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #links-navbar li {
    width: 200px;
    text-align: center;
  }
  #links-navbar i {
    font-weight: 500;
    font-size: 18px;
    color: rgb(89, 34, 2);
  }
  #links-navbar .search-bar-icon:hover {
    cursor: pointer;
  }
  #links-navbar .search-container {
    max-width: 30px;
    border-radius: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.8s ease;
    position: relative;
  }
  #links-navbar .search-container input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: #000;
  }
  #links-navbar .search-container.active {
    max-width: 300px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  #links-navbar a {
    color: rgb(89, 34, 2);
    font-weight: 500;
    font-size: 18px;
  }
  #links-navbar :hover {
    color: rgb(191, 129, 75);
  }
  #links-navbar img {
    width: 85%;
    height: 90%;
  }
  #links-navbar .dropdown-category {
    display: none;
    position: absolute;
    overflow: scroll;
    left: -20%;
    background-color: #f1f1f1;
    max-width: 200px;
    max-height: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px 5px;
    border-radius: 30px 0px 30px 30px;
  }
  #links-navbar .dropdown-category a {
    color: rgb(89, 34, 2);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  #links-navbar .dropdown-category :hover {
    color: rgb(191, 129, 75);
  }
  #section-02 .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  #section-02 .container-cards .card1 .desc-card {
    inset: auto auto 200px 30px;
  }
  #section-02 .container-cards .card1 .ingredientes-card {
    inset: auto auto 90px 30px;
  }
  #section-02 .container-cards .card1 .time-card {
    inset: auto auto 30px 30px;
  }
  #section-02 .container-cards .card2 .desc-card2 {
    inset: auto auto 220px 30px;
  }
  #section-02 .container-cards .card2 .ingredientes-card2 {
    inset: auto auto 90px 30px;
  }
  #section-02 .container-cards .card2 .time-card2 {
    inset: auto auto 30px 30px;
  }
  #section-02 .container-cards .card3 .desc-card3 {
    inset: auto auto 220px 30px;
  }
  #section-02 .container-cards .card3 .ingredientes-card3 {
    inset: auto auto 90px 30px;
  }
  #section-02 .container-cards .card3 .time-card3 {
    inset: auto auto 30px 30px;
  }
  #section-02 .container-cards .card4 .desc-card4 {
    inset: auto auto 270px 30px;
  }
  #section-02 .container-cards .card4 .ingredientes-card4 {
    inset: auto auto 140px 30px;
  }
  #section-02 .container-cards .card4 .time-card4 {
    inset: auto auto 80px 30px;
  }
  .container-bem-avaliadas {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
  }
  .container-bem-avaliadas .cont-receita-avaliada1 h4,
  .container-bem-avaliadas .cont-receita-avaliada2 h4,
  .container-bem-avaliadas .cont-receita-avaliada3 h4,
  .container-bem-avaliadas .cont-receita-avaliada4 h4,
  .container-bem-avaliadas .cont-receita-avaliada5 h4,
  .container-bem-avaliadas .cont-receita-avaliada6 h4 {
    font-size: 18px;
  }
  .footer {
    padding-top: 8em;
  }
  .footer .container-social {
    padding-left: 2em;
    justify-content: start;
    display: flex;
    gap: 3em;
    margin-bottom: 5em;
  }
  .footer .links-rodape {
    padding-left: 2em;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .footer .links-rodape ul {
    display: initial;
  }
  .footer .links-rodape li {
    margin-top: 1.5em;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #small {
    display: visible;
  }
  #x-small, #medium, #large, #x-large, #xx-large {
    display: none;
  }
  #navbar {
    position: relative;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
  }
  #navbar .logo-link {
    width: 33.3333333333%;
    height: 54px;
  }
  #navbar .logo-link .logo {
    width: 110px;
    height: 54px;
  }
  #navbar .hamburguer {
    display: flex;
    flex-direction: column;
    gap: -1px;
    align-items: flex-end;
    justify-content: center;
    width: 33.3333333333%;
    height: 54px;
    cursor: pointer;
  }
  #navbar .hamburguer .bar {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(89, 34, 2);
  }
  #navbar .hamburguer.active-close .bar:nth-child(1) {
    transform: translateY(0.1em) rotate(46deg);
    margin: 0px auto;
  }
  #navbar .hamburguer.active-close .bar:nth-child(2) {
    transform: translateY(-0.2em) rotate(-45deg);
    margin: 0px auto;
  }
  #links-navbar {
    width: 33.3333333333%;
    height: 100vh;
    list-style-type: none;
    gap: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #links-navbar li {
    width: 200px;
    text-align: center;
  }
  #links-navbar i {
    font-weight: 500;
    font-size: 18px;
    color: rgb(89, 34, 2);
  }
  #links-navbar .search-bar-icon:hover {
    cursor: pointer;
  }
  #links-navbar .search-container {
    max-width: 30px;
    border-radius: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.8s ease;
    position: relative;
  }
  #links-navbar .search-container input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: #000;
  }
  #links-navbar .search-container.active {
    max-width: 300px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  #links-navbar a {
    color: rgb(89, 34, 2);
    font-weight: 500;
    font-size: 18px;
  }
  #links-navbar :hover {
    color: rgb(191, 129, 75);
  }
  #links-navbar img {
    width: 85%;
    height: 90%;
  }
  #links-navbar .dropdown-category {
    display: none;
    position: absolute;
    overflow: scroll;
    left: 0%;
    background-color: #f1f1f1;
    max-width: 200px;
    max-height: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px 5px;
    border-radius: 30px 0px 30px 30px;
  }
  #links-navbar .dropdown-category a {
    color: rgb(89, 34, 2);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  #links-navbar .dropdown-category :hover {
    color: rgb(191, 129, 75);
  }
  .container-bem-avaliadas {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
  }
  .container-bem-avaliadas .cont-receita-avaliada1 h4,
  .container-bem-avaliadas .cont-receita-avaliada2 h4,
  .container-bem-avaliadas .cont-receita-avaliada3 h4,
  .container-bem-avaliadas .cont-receita-avaliada4 h4,
  .container-bem-avaliadas .cont-receita-avaliada5 h4,
  .container-bem-avaliadas .cont-receita-avaliada6 h4 {
    font-size: 20px;
  }
  .footer {
    padding-top: 8em;
    margin-left: 2em !important;
  }
  .footer .container-social {
    padding-left: 2em;
    justify-content: start;
    display: flex;
    gap: 3em;
    margin-bottom: 5em;
  }
  .footer .links-rodape {
    padding-left: 2em;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .footer .links-rodape ul {
    display: initial;
  }
  .footer .links-rodape li {
    margin-top: 1.5em;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #medium {
    display: block;
  }
  #x-small, #small, #large, #x-large, #xx-large {
    display: none;
  }
  #navbar {
    position: relative;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
  }
  #navbar .logo-link {
    width: 33.3333333333%;
    height: 54px;
  }
  #navbar .logo-link .logo {
    width: 110px;
    height: 54px;
  }
  #navbar .hamburguer {
    display: flex;
    flex-direction: column;
    gap: -1px;
    align-items: flex-end;
    justify-content: center;
    width: 33.3333333333%;
    height: 54px;
    cursor: pointer;
  }
  #navbar .hamburguer .bar {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(89, 34, 2);
  }
  #navbar .hamburguer.active-close .bar:nth-child(1) {
    transform: translateY(0.1em) rotate(46deg);
    margin: 0px auto;
  }
  #navbar .hamburguer.active-close .bar:nth-child(2) {
    transform: translateY(-0.2em) rotate(-45deg);
    margin: 0px auto;
  }
  #links-navbar {
    width: 33.3333333333%;
    height: 100vh;
    list-style-type: none;
    gap: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #links-navbar li {
    width: 200px;
    text-align: center;
  }
  #links-navbar i {
    font-weight: 500;
    font-size: 18px;
    color: rgb(89, 34, 2);
  }
  #links-navbar .search-bar-icon:hover {
    cursor: pointer;
  }
  #links-navbar .search-container {
    max-width: 30px;
    border-radius: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.8s ease;
    position: relative;
  }
  #links-navbar .search-container input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: #000;
  }
  #links-navbar .search-container.active {
    max-width: 300px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  #links-navbar a {
    color: rgb(89, 34, 2);
    font-weight: 500;
    font-size: 18px;
  }
  #links-navbar :hover {
    color: rgb(191, 129, 75);
  }
  #links-navbar img {
    width: 85%;
    height: 90%;
  }
  #links-navbar .dropdown-category {
    display: none;
    position: absolute;
    overflow: scroll;
    left: 10%;
    background-color: #f1f1f1;
    max-width: 150px;
    max-height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px 5px;
    border-radius: 30px 0px 30px 30px;
  }
  #links-navbar .dropdown-category a {
    color: rgb(89, 34, 2);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  #links-navbar .dropdown-category :hover {
    color: rgb(191, 129, 75);
  }
  #section-02 .container-cards {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 30px;
  }
  #section-02 .container-cards .card3 h4 {
    inset: 380px 350px 220px 30px;
    width: 60%;
    transition: inset 0.3s ease-out;
  }
  #section-02 .container-cards .card3 .desc-card3 {
    inset: auto auto 220px 30px;
  }
  #section-02 .container-cards .card3 .ingredientes-card3 {
    inset: auto auto 90px 30px;
  }
  #section-02 .container-cards .card3 .time-card3 {
    inset: auto auto 30px 30px;
  }
  #section-02 .container-cards .card3:hover h4 {
    inset: 25px 25px 380px 30px;
  }
  .container-bem-avaliadas {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    column-gap: 0px;
    row-gap: 30px;
  }
  .container-bem-avaliadas .cont-receita-avaliada1 h4,
  .container-bem-avaliadas .cont-receita-avaliada2 h4,
  .container-bem-avaliadas .cont-receita-avaliada3 h4,
  .container-bem-avaliadas .cont-receita-avaliada4 h4,
  .container-bem-avaliadas .cont-receita-avaliada5 h4,
  .container-bem-avaliadas .cont-receita-avaliada6 h4 {
    font-size: 22px;
  }
  .footer {
    padding-top: 8em;
    margin-left: 2em !important;
  }
  .footer .container-social {
    padding-left: 2em;
    justify-content: start;
    display: flex;
    gap: 3em;
    margin-bottom: 5em;
  }
  .footer .links-rodape {
    padding-left: 2em;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .footer .links-rodape ul {
    display: initial;
  }
  .footer .links-rodape li {
    margin-top: 1.5em;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #large {
    display: block;
  }
  #x-small, #small, #medium, #x-large, #xx-large {
    display: none;
  }
  #navbar {
    position: relative;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #navbar #category {
    padding-bottom: 0px;
  }
  #navbar .logo-link {
    height: 65px;
    width: auto;
  }
  #navbar .logo-link .logo {
    width: 110px;
    height: 65px;
  }
  #navbar .hamburguer {
    display: none;
    cursor: pointer;
  }
  #navbar .hamburguer .bar {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(89, 34, 2);
  }
  #links-navbar {
    transform: translateY(3%);
    margin-top: 15vh;
    width: auto;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    height: 4em;
    z-index: 110;
  }
  #links-navbar li {
    width: auto;
  }
  #links-navbar i {
    font-weight: 500;
    font-size: 18px;
    color: rgb(89, 34, 2);
  }
  #links-navbar .search-bar-icon:hover {
    cursor: pointer;
  }
  #links-navbar .search-container {
    max-width: 30px;
    border-radius: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.8s ease;
    position: relative;
  }
  #links-navbar .search-container input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: #000;
  }
  #links-navbar .search-container.active {
    max-width: 300px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  #links-navbar a {
    color: rgb(89, 34, 2);
    font-weight: 500;
    font-size: 18px;
  }
  #links-navbar :hover {
    color: rgb(191, 129, 75);
  }
  #links-navbar img {
    width: 85%;
    height: 90%;
  }
  #links-navbar .dropdown-category {
    z-index: 100;
    display: none;
    overflow: hidden;
    position: absolute;
    left: 0%;
    background-color: #f1f1f1;
    max-width: 800px;
    max-height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    border-radius: 30px 0 30px 30px;
  }
  #links-navbar .dropdown-category a {
    color: rgb(89, 34, 2);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  #links-navbar .dropdown-category :hover {
    color: rgb(191, 129, 75);
  }
  #btn-menu, #navbar-offcanvas {
    display: block;
  }
  #logo {
    display: inline-block;
  }
  #btn-close {
    display: none;
  }
  .footer {
    padding-top: 5em;
    margin-left: auto !important;
  }
  .footer .container-social {
    padding-left: 0em;
    justify-content: center;
    display: flex;
    gap: 6em;
    margin-bottom: 8em;
  }
  .footer .links-rodape {
    padding-left: 0em;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  .footer .links-rodape ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px;
  }
  .div-suggestions {
    bottom: 131.1em;
    left: -5.3em;
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #x-large {
    display: block;
  }
  #x-small, #small, #medium, #large, #xx-large {
    display: none;
  }
  #section-02 .container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .container-bem-avaliadas {
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
  }
  .container-bem-avaliadas .cont-receita-avaliada1 h4,
  .container-bem-avaliadas .cont-receita-avaliada2 h4,
  .container-bem-avaliadas .cont-receita-avaliada3 h4,
  .container-bem-avaliadas .cont-receita-avaliada4 h4,
  .container-bem-avaliadas .cont-receita-avaliada5 h4,
  .container-bem-avaliadas .cont-receita-avaliada6 h4 {
    font-size: 22px;
  }
  .div-suggestions {
    bottom: 101.1em;
    left: 9em;
  }
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #xx-large {
    display: block;
  }
  #x-small, #small, #medium, #large, #x-large {
    display: none;
  }
  #section-02 .container-cards {
    gap: 50px;
  }
  .div-suggestions {
    bottom: 101.1em;
    left: 18.5em;
  }
}

/*# sourceMappingURL=media.css.map */
