@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
.none {
  display: none;
}

.visibleD {
  display: inline-block;
}

.hidden-offcanvas {
  transform: translateY(-150%);
}

.show-offcanvas {
  transform: translateY(0%);
}

a {
  text-decoration: none !important;
}

#body {
  background-color: rgb(217, 217, 217);
}

#navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#links-navbar {
  display: flex;
  gap: 1.5em;
  height: 100%;
  list-style-type: none;
}
#links-navbar a {
  color: rgb(89, 34, 2);
  font-weight: 500;
}
#links-navbar :hover {
  color: rgb(191, 129, 75);
}
#links-navbar img {
  width: 85%;
  height: 90%;
}
#links-navbar .dropdown-category {
  display: none;
  position: absolute;
  left: 50%;
  background-color: #f1f1f1;
  max-width: 45%;
  max-height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px 5px;
  border-radius: 30px 0 30px 30px;
}
#links-navbar .dropdown-category a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}
#links-navbar .dropdown-category :hover {
  color: red;
}

#category:hover .dropdown-category {
  display: block;
  transition: 0.5s ease-in-out;
}

#category {
  transition: 0.5s ease-in-out;
  padding-bottom: 10px;
}

#btn-menu, #btn-close {
  background: transparent;
  border: none;
}

#btn-close {
  font-size: 30px;
  color: rgb(89, 34, 2);
}

#navbar-offcanvas {
  transition: 0.7s ease;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#navbar-offcanvas #links-navbar-offcanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  height: 100%;
  width: 95%;
  list-style-type: none;
  padding-left: 0;
}
#navbar-offcanvas #links-navbar-offcanvas a {
  color: rgb(89, 34, 2);
  font-weight: 500;
}
#navbar-offcanvas #links-navbar-offcanvas :hover {
  color: rgb(191, 129, 75);
}
#navbar-offcanvas #links-navbar-offcanvas div {
  background: #fff;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
#navbar-offcanvas #links-navbar-offcanvas input {
  display: inline-block;
  border: none;
  padding-left: 10px;
  border-radius: 30px;
  height: 25px;
}
#navbar-offcanvas #links-navbar-offcanvas :focus {
  outline: none;
}
#navbar-offcanvas #links-navbar-offcanvas img {
  width: 24px;
  height: 24px;
}
#navbar-offcanvas #category-offcanvas {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#navbar-offcanvas #category-offcanvas .dropdown-category-offcanvas {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}
#navbar-offcanvas #category-offcanvas .dropdown-category-offcanvas a {
  padding: 0.1em;
  margin: 0.1em;
}

#category i {
  margin-left: 4px;
}

.logo {
  width: 120px;
  height: 70px;
}

#logo {
  transition: 0.8s ease-out;
}

/*# sourceMappingURL=style.css.map */
