@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Readex+Pro&display=swap");
.none {
  display: none;
}

.visibleD {
  display: inline-block;
}

.hidden-offcanvas {
  transform: translateY(-150%);
  margin-top: -100vh;
}

.show-offcanvas {
  transform: translateY(0%);
  margin-top: 0vh;
}

.no-scroll {
  overflow: hidden;
}

.slide-img-1,
.slide-img-2,
.slide-img-3,
.slide-img-4 {
  border-radius: 30px;
  transition: 0.3s;
  height: 500px;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.slide-img-1 {
  background: url(../imagens/closeup-tiro-de-cheesecake-com-geleia-decorada-com-morangos-e-frutas-vermelhas.jpg);
  background-position: center;
}

.slide-img-2 {
  background: url(../imagens/macarrao-penne-com-molho-de-tomate-com-linguica-tomate-manjericao-verde-decorado-em-uma-frigideira-sobre-uma-mesa-de-madeira.jpg);
  background-position: left;
}

.slide-img-3 {
  background: url(../imagens/carne-de-porco-assada-com-especiarias-e-ervas.jpg);
  background-position: left;
}

.slide-img-4 {
  background: url(../imagens/panquecas-de-close-up-com-frutas.jpg);
  background-position: left;
}

#credit-freepik {
  color: black;
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 12px;
}

.slider {
  margin: 0 auto;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s ease-in-out;
  border-radius: 30px;
}

.slide-img-1:hover,
.slide-img-2:hover,
.slide-img-3:hover,
.slide-img-4:hover {
  scale: 1.05;
  border-radius: 30px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
  position: relative;
  border-radius: 30px;
}
.slides input {
  display: none;
}

.manual-navigation {
  position: absolute;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.manual-navigation .manual-btn {
  border: 0.01em solid rgb(89, 34, 2);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.manual-navigation :hover {
  background-color: rgb(217, 217, 217);
}

.navigation-auto {
  position: absolute;
  margin-top: 470px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navigation-auto div {
  border: 0.01em solid rgb(89, 34, 2);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: rgb(217, 217, 217);
}

/*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .manual-navigation {
    width: 300px;
  }
  .navigation-auto {
    width: 300px;
  }
  .slider {
    width: 300px;
  }
  .slide-img-3 {
    background-position: center;
  }
  .slide-img-3 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    padding-bottom: 100%;
    padding-left: 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-2 {
    width: 100%;
    background-position: left;
  }
  .slide-img-2 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    padding-bottom: 100%;
    padding-left: 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-1 {
    background-position: center;
  }
  .slide-img-1 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    padding-bottom: 100%;
    justify-content: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-4 {
    width: 100%;
    background-position: right;
  }
  .slide-img-4 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    padding-bottom: 100%;
    padding-left: 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide div {
    padding: 2px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .manual-navigation {
    width: 500px;
  }
  .navigation-auto {
    width: 500px;
  }
  .slider {
    width: 500px;
  }
  .slide-img-1 {
    background-position: center;
  }
  .slide-img-1 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    padding-bottom: 100%;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-2 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    padding-bottom: 100%;
    padding-left: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-3 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    margin-left: 15px;
    padding-bottom: 100%;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-4 {
    background-position: right;
  }
  .slide-img-4 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -8%;
    margin-left: 15px;
    padding-bottom: 100%;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .manual-navigation {
    width: 700px;
  }
  .navigation-auto {
    width: 700px;
  }
  .slider {
    width: 700px;
  }
  .slide-img-1 {
    background-position: center;
  }
  .slide-img-1 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -4%;
    padding-bottom: 100%;
    padding-left: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-2 a {
    padding: 10px;
  }
  .slide-img-2 .div-text-carousel a {
    margin-top: -5%;
  }
  .slide-img-3 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -6%;
    padding-left: 15px;
    padding-bottom: 100%;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-3 a {
    padding: 10px;
  }
  .slide-img-4 {
    background-position: right;
  }
  .slide-img-4 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -4%;
    padding-left: 12px;
    padding-bottom: 100%;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .manual-navigation {
    width: 920px;
  }
  .navigation-auto {
    width: 920px;
  }
  .slider {
    width: 920px;
  }
  .slide-img-3 {
    background-position: left;
  }
  .slide-img-3 .div-text-carousel a {
    margin-top: -5%;
    margin-left: 15px;
  }
  .slide-img-2 {
    background-position: left;
  }
  .slide-img-2 .div-text-carousel a {
    padding-left: 30px;
  }
  .slide-img-1 {
    width: 100%;
    background-position: left;
  }
  .slide-img-1 .div-text-carousel a {
    font-family: "Quintessential", cursive;
    display: flex;
    margin-top: -3%;
    padding-bottom: 100%;
    padding-left: 19px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .slide-img-4 {
    background-position: left;
  }
  .slide-img-4 .div-text-carousel a {
    margin-left: 25px;
    margin-top: -3%;
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .manual-navigation {
    width: 1100px;
  }
  .navigation-auto {
    width: 1100px;
  }
  .slider {
    width: 1100px;
  }
  .slide-img-1 .div-text-carousel a {
    margin-top: -2%;
  }
  .slide-img-2 .div-text-carousel a {
    margin-top: -3%;
  }
  .slide-img-3 {
    background-position: left;
  }
  .slide-img-3 .div-text-carousel a {
    margin-top: -3%;
    margin-left: 20px;
  }
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .manual-navigation {
    width: 1250px;
  }
  .navigation-auto {
    width: 1250px;
  }
  .slider {
    width: 1250px;
  }
  .slide-img-1 .div-text-carousel a {
    padding-left: 35px;
  }
  .slide-img-2 .div-text-carousel a {
    margin-left: 35px;
  }
  .slide-img-3 {
    background-position: left;
  }
  .slide-img-3 .div-text-carousel a {
    margin-top: -3%;
    margin-left: 30px;
  }
  .slide-img-4 .div-text-carousel a {
    margin-left: 30px;
    margin-top: -3%;
  }
}
* {
  font-family: "Readex Pro", sans-serif;
}

a {
  text-decoration: none !important;
}

#body {
  background-color: rgb(217, 217, 217);
}

.hr {
  color: rgb(89, 34, 2);
  opacity: 100;
  margin: 1.5em 2em;
}

#navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#links-navbar {
  display: flex;
  gap: 1.5em;
  height: 100%;
  list-style-type: none;
  justify-content: baseline;
  align-items: baseline;
}
#links-navbar i {
  font-weight: 500;
  font-size: 18px;
  color: rgb(89, 34, 2);
}
#links-navbar #search-bar-icon:hover {
  cursor: pointer;
}
#links-navbar .search-container {
  max-width: 30px;
  border-radius: 30px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.8s ease;
}
#links-navbar .search-container input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 3px 10px;
  background-color: transparent;
  color: #000;
}
#links-navbar .search-container.active {
  max-width: 300px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #fff;
}
#links-navbar a {
  color: rgb(89, 34, 2);
  font-weight: 500;
  font-size: 18px;
}
#links-navbar :hover {
  color: rgb(191, 129, 75);
}
#links-navbar img {
  width: 85%;
  height: 90%;
}
#links-navbar .dropdown-category {
  display: none;
  position: absolute;
  left: 50%;
  background-color: #f1f1f1;
  max-width: 45%;
  max-height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px 5px;
  border-radius: 30px 0 30px 30px;
}
#links-navbar .dropdown-category a {
  color: rgb(89, 34, 2);
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}
#links-navbar .dropdown-category :hover {
  color: rgb(191, 129, 75);
}

.dropdown-category {
  transition: 0.5s ease-in-out;
}

#category:hover .dropdown-category {
  display: block;
}

#category {
  transition: 0.5s ease-in-out;
  padding-bottom: 10px;
}

#category-link:hover i {
  color: rgb(191, 129, 75);
}

#btn-menu, #btn-close {
  background: transparent;
  border: none;
}

#btn-close {
  font-size: 30px;
  color: rgb(89, 34, 2);
}

#navbar-offcanvas {
  transition: 0.7s ease;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#navbar-offcanvas #links-navbar-offcanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  height: 100%;
  width: 95%;
  list-style-type: none;
  padding-left: 0;
}
#navbar-offcanvas #links-navbar-offcanvas a {
  color: rgb(89, 34, 2);
  font-weight: 500;
}
#navbar-offcanvas #links-navbar-offcanvas :hover {
  color: rgb(191, 129, 75);
}
#navbar-offcanvas #links-navbar-offcanvas div {
  background: #fff;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
#navbar-offcanvas #links-navbar-offcanvas input {
  display: inline-block;
  border: none;
  padding-left: 10px;
  border-radius: 30px;
  height: 25px;
}
#navbar-offcanvas #links-navbar-offcanvas :focus {
  outline: none;
}
#navbar-offcanvas #links-navbar-offcanvas img {
  width: 24px;
  height: 24px;
}
#navbar-offcanvas #links-navbar-offcanvas .dropdown-category-offcanvas {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding: 150px 10px 0px 10px;
  height: 220px;
}
#navbar-offcanvas #links-navbar-offcanvas .dropdown-category-offcanvas a {
  padding: 0.1em;
  margin: 0.1em;
}
#navbar-offcanvas #category-offcanvas {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

#category i {
  margin-left: 4px;
}

.logo {
  width: 120px;
  height: 70px;
}

#logo {
  transition: 0.8s ease-out;
}

#section-01 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#section-01 #all-recipes-section01 {
  padding: 5px;
  margin-top: 20px;
  text-decoration: underline !important;
  color: rgb(89, 34, 2);
  transition: 0.3s ease-in-out;
}
#section-01 #all-recipes-section01:hover {
  color: rgb(191, 129, 75);
}

#section-02 .div-receitas-procuradas {
  display: flex;
  align-items: last baseline;
}
#section-02 .div-receitas-procuradas h2 {
  padding: 5px;
  color: rgb(89, 34, 2);
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
