@use "variaveis";

// Estilos globais

#sectionAllRecipes{
  color: variaveis.$color-main1;
  margin-bottom: 25vh;

  h2{
    font-weight: 700;
  }

  img{
    margin-left: 1.5em;
  }

  .div-AllRecipes-text{
    display: flex;
    align-items:last baseline;
    padding-top: 4em;
  }
  .all-recipes-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3em;

    .group-1,
    .group-2,
    .group-3,
    .group-4{
      display: flex;
      gap: 2em;
      flex-direction: column;
    }
  }

  a{
    color: variaveis.$color-main1;
    font-size: 1.1em;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    text-decoration: underline;
    padding: 0.5em;
  }
  a:hover{
    transform: translateX(15px)
  }
}


            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

#sectionAllRecipes{
  margin-bottom: 10vh;

  .all-recipes-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3em;

    .group-1,
    .group-2,
    .group-3,
    .group-4{
      display: flex;
      gap: 0em;
      flex-direction: column;
    }
  }
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

#sectionAllRecipes{
  margin-bottom: 10vh;

  .all-recipes-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3em;

    .group-1,
    .group-2,
    .group-3,
    .group-4{
      display: flex;
      gap: 0em;
      flex-direction: column;
    }
  }
}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  #sectionAllRecipes{
    margin-bottom: 25vh;

    .all-recipes-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 3em;
  
      .group-1,
      .group-2,
      .group-3,
      .group-4{
        display: flex;
        gap: 2em;
        flex-direction: column;
      }
    }

  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}