@use "variaveis";

// Estilos globais
.slide-img-1{
  background: url(../imagens/closeup-tiro-de-cheesecake-com-geleia-decorada-com-morangos-e-frutas-vermelhas.jpg);
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.slide-img-2{
  background: url(../imagens/macarrao-penne-com-molho-de-tomate-com-linguica-tomate-manjericao-verde-decorado-em-uma-frigideira-sobre-uma-mesa-de-madeira.jpg);
  height: 500px;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-img-3{
  background: url(../imagens/carne-de-porco-assada-com-especiarias-e-ervas.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.slide-img-4{
  background: url(../imagens/panquecas-de-close-up-com-frutas.jpg);
  height: 500px;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
#credit-freepik{
  color: black;
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 12px;
}
.slider{
  margin: 0 auto;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
.slide{
  width: 25%;
  position: relative;
  transition: 1s ease-in-out;
  border-radius: 30px;
}
.slide-img-1:hover, 
.slide-img-2:hover, 
.slide-img-3:hover,
.slide-img-4:hover{
  scale: 1.05;
  border-radius: 30px;
}
.slide-img-1, 
.slide-img-2, 
.slide-img-3,
.slide-img-4{
  border-radius: 30px;
  transition: 0.3s;
}
.slides{
  width: 400%;
  height: 400px;
  display: flex;
  position: relative;
  border-radius: 30px;
  input{
    display: none;
  }
}



#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}



#radio1:checked ~ .navigation-auto .auto-btn1, 
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: variaveis.$color-light;
}

// FIM ESTILOS PADRÕES


/*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .manual-navigation{
    position: absolute;
    margin-top: 70px;
    display: flex;
    width: 300px;
    justify-content: center;
    gap: 20px;
    .manual-btn{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }:hover{
      background-color: variaveis.$color-light;
    }
  }
  .navigation-auto{
  position: absolute;
  margin-top: 470px; 
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 300px;
    div{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      display: flex;
      justify-content: center;
    }
  }

  .slider{
    width: 300px;
  }
  .slide-img-3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    .div-text-carousel{
      a{
        font-family: variaveis.$font-titles;
        display: flex;
        margin-top: -8%;
        padding-bottom: 100%;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
      }
    }
  }
  .slide-img-2{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
    .div-text-carousel{
      a{
        font-family: variaveis.$font-titles;
        display: flex;
        margin-top: -8%;
        padding-bottom: 100%;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
      }
    }
  }
  .slide-img-1{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      .div-text-carousel{
        a{
          font-family: variaveis.$font-titles;
          display: flex;
          margin-top: -8%;
          padding-bottom: 100%;
          justify-content: center;
          font-weight: 700;
          color: rgb(255, 255, 255);
          letter-spacing: 2px;
          filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        }
      }
  }
  .slide-img-4{
    height: 500px;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
      .div-text-carousel{
        a{
          font-family: variaveis.$font-titles;
          display: flex;
          margin-top: -8%;
          padding-bottom: 100%;
          font-weight: 700;
          color: rgb(255, 255, 255);
          letter-spacing: 2px;
          filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        }
      }
  }
  
  .slide{
  
    div{
      padding: 2px;
    }
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .manual-navigation{
    position: absolute;
    margin-top: 70px;
    display: flex;
    width: 500px;
    justify-content: center;
    gap: 20px;
    .manual-btn{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }:hover{
      background-color: variaveis.$color-light;
    }
  }
  .navigation-auto{
  position: absolute;
  margin-top: 470px; 
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 500px;
    div{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      display: flex;
      justify-content: center;
    }
  }

  .slider{
    width: 500px;
  }
  .slide-img-1{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      .div-text-carousel{
        a{
          font-family: variaveis.$font-titles;
          display: flex;
          margin-top: -8%;
          padding-bottom: 100%;
          padding-left: 30px;
          font-weight: 700;
          color: rgb(255, 255, 255);
          letter-spacing: 2px;
          filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        }
      }
  }
  .slide-img-2{
    .div-text-carousel{
      a{
        font-family: variaveis.$font-titles;
        display: flex;
        margin-top: -8%;
        padding-bottom: 100%;
        padding-left: 30px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
      }
    }
  }
  .slide-img-3{
    .div-text-carousel{
      a{
        font-family: variaveis.$font-titles;
        display: flex;
        margin-top: -8%;
        margin-left: 15px;
        padding-bottom: 100%;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
      }
    }
  }
  .slide-img-4{
    height: 500px;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
      .div-text-carousel{
        a{
          font-family: variaveis.$font-titles;
          display: flex;
          margin-top: -8%;
          margin-left: 15px;
          padding-bottom: 100%;
          font-weight: 700;
          color: rgb(255, 255, 255);
          letter-spacing: 2px;
          filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
        }
      }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .manual-navigation{
    position: absolute;
    margin-top: 70px;
    display: flex;
    width: 700px;
    justify-content: center;
    gap: 20px;
    .manual-btn{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }:hover{
      background-color: variaveis.$color-light;
    }
  }
  .navigation-auto{
  position: absolute;
  margin-top: 470px; 
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 700px;
    div{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      display: flex;
      justify-content: center;
    }
  }

  .slider{
    width: 700px;
  }
  .slide-img-1{
      .div-text-carousel{
        a{
          margin-top: -5%;
        }
      }
  }
  .slide-img-2{
    a{
      padding: 10px;
    }
    .div-text-carousel{
      a{
        margin-top: -5%;
      }
    }
  }
  .slide-img-3{
    a{
      padding: 10px;
    }
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .manual-navigation{
    position: absolute;
    margin-top: 70px;
    display: flex;
    width: 920px;
    justify-content: center;
    gap: 20px;
    .manual-btn{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }:hover{
      background-color: variaveis.$color-light;
    }
  }
  .navigation-auto{
  position: absolute;
  margin-top: 470px; 
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 920px;
    div{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      display: flex;
      justify-content: center;
    }
  }

  .slider{
    width: 920px;
  }
  .slide-img-3{
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    .div-text-carousel{
      a{
        margin-top: -5%;
        margin-left: 15px;
      }
    }
  }
  .slide-img-2{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-img-1{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-img-4{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
      .div-text-carousel{
        a{
          margin-left: 25px;
          margin-top: -5%;
        }
      }
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .slide-img-1{
      .div-text-carousel{
        a{
          margin-top: -3%;
        }
      }
  }
  .slide-img-2{
    .div-text-carousel{
      a{
        margin-top: -3%;
      }
    }
  }
  .slide-img-3{
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    .div-text-carousel{
      a{
        margin-top: -5%;
        margin-left: 20px;
      }
    }
  }

  .manual-navigation{
    // width: 90vw;
  }
  .navigation-auto{
    width: 90vw;
  }
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
.slide-img-1{
    .div-text-carousel{
      a{
        padding-left: 35px;
      }
    }
}
.slide-img-2{
  .div-text-carousel{
    a{
      margin-left: 35px;
    }
  }
}
.slide-img-3{
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  .div-text-carousel{
    a{
      margin-top: -3%;
      margin-left: 30px;
    }
  }
}
.slide-img-4{
    .div-text-carousel{
      a{
        margin-left: 30px;
        margin-top: -3%;
      }
    }
}
}

