@use "variaveis";

// Estilos globais
.slide-img-1{
  background: url(../imagens/closeup-tiro-de-cheesecake-com-geleia-decorada-com-morangos-e-frutas-vermelhas.jpg);
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-img-2{
  background: url(../imagens/macarrao-penne-com-molho-de-tomate-com-linguica-tomate-manjericao-verde-decorado-em-uma-frigideira-sobre-uma-mesa-de-madeira.jpg);
  height: 500px;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-img-3{
  background: url(../imagens/carne-de-porco-assada-com-especiarias-e-ervas.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.slide-img-4{
  background: url(../imagens/panquecas-de-close-up-com-frutas.jpg);
  height: 500px;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider{
  margin: 0 auto;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slide{
  width: 25%;
  position: relative;
  transition: 1s ease-in-out;
}
.slides{
  width: 400%;
  height: 400px;
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  position: relative;

  input{
    display: none;
  }
}

.manual-navigation{
  position: absolute;
  z-index: 2;
  margin-top: 70px;
  display: flex;
  width: 90vw;
  justify-content: center;
  gap: 20px;

    .manual-btn{
      border: 0.01em solid variaveis.$color-main1;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }:hover{
      background-color: variaveis.$color-light;
    }
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}
.navigation-auto div:last-child{
  margin-right: 1px;
}
.navigation-auto{
  position: absolute;
  margin-top: 470px;  
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 90vw;
}

#radio1:checked ~ .navigation-auto .auto-btn1, 
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: variaveis.$color-light;
}

// FIM ESTILOS PADRÕES


/*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .slide-img-3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }
  .slide-img-2{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-img-1{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-img-4{
    height: 500px;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slide{
  
    div{
      border: 1px solid blue;
      padding: 2px;
    }
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .slide-img-4{
    height: 500px;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .slide-img-3{
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }
  .slide-img-2{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-img-1{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-img-4{
    height: 500px;
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide{
  
    div{
      border: 1px solid blue;
    }
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

