@use 'variaveis';

#credits{
  h3{
    color: variaveis.$color-main1;
  }

  #back{
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  i{
    font-size:40px;
    color: variaveis.$color-main1;
  }
  #back:hover{
    scale: 1.1;
  }

  img{
    border-radius: 30px;
  }

  #imgs{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    gap: 15px 15px 15px 15px;

    div{
      text-align: center;
      border-radius: 30px;
      width: 170px;
      border: 1px solid variaveis.$color-main2;
      display: flex;
      flex-direction: column;
      p{
        padding: 5px;
      }
    }
  }
}

            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #credits{
  
    #imgs{
      grid-template-columns: 50% 50%;
      gap: 10px 5px;
      div{
        width: 150px;
      }
    }
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #credits{
  
    #imgs{
      grid-template-columns: 50% 50%;
      gap: 10px 10px;
      div{
        width: 170px;
      }
    }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #credits{
  
    #imgs{
      grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
      gap: 15px 15px;
      div{
        width: 170px;
      }
    }
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #credits{
  
    #imgs{
      grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
      gap: 15px 15px;
      div{
        width: 170px;
      }
    }
  }
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #credits{
  
    #imgs{
      grid-template-columns: 25% 25% 25% 25%;
      gap: 15px 15px;
      div{
        width: 170px;
      }
    }
  }
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #credits{
  
    #imgs{
      grid-template-columns: 20% 20% 20% 20% 20%;
      gap: 15px 15px;
      div{
        width: 170px;
      }
    }
  }
}