@use "variaveis";

// ESTILOS GLOBAIS
#notification-form{
  z-index: 100;
  visibility: hidden;
  margin-top: -100%;
  transition: 0.3s ease-in-out;
  display: flex;
  width: 100vw;
  justify-content: center;
  position: fixed;
  color: #000;
  p{
    i{
      font-size: 30px;
    }
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: variaveis.$color-stars;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);

  }

}

#container-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  color: variaveis.$color-main1;

  h3{
    font-weight: 600;
    margin-bottom: 30px;
  }

  form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: variaveis.$color-main2;
    border-radius: 30px;
    padding: 10px;
    width: 70%;
    font-weight: 400;

    textarea{
      height: 10em;
      border-radius: 30px;
      border: none;
      resize: none;
      width: 80%;
      padding: 10px;

    }
    textarea:focus{
      border: none;
    }

    input{
      border-radius: 30px;
      border: none;
      width: 60%;
    }:focus{
      border: none;
    }

    input[ type="file" ]{
      display: none;
    }

    label[for="recipe-img"]{
      color: variaveis.$color-main2;
      cursor: pointer;
      background-color: #fff;
      border-radius: 30px;
      width: 60%;
      padding: 1px 2px;
    }

    .name-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 45%;

      label{
        padding: 10px 5px;
      }
    }
  
    .img-preparation{
      display: flex;
      flex-direction: column;
      padding: 10px;
      align-items: center;
      width: 45%;

      label:not(label:nth-of-type(2)){
        padding: 10px 5px;
      }
    }
  
    input[ type=submit ]{
      width: 11em;
      height: 2.5em;
      margin: 0 auto;
      background-color: variaveis.$color-main1;
      color: #fff;
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
    }
    input[ type=submit ]:hover{
      scale: 1.05;
    }
  }


}
#confirm-notification-form{
  border-radius: 30px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  width: 60px;
}


            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  #container-form{
    flex-direction: column;

    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
  
      textarea{
        width: 100%;
      }

      input{
        width: 80%;
      }

      label[for="recipe-img"]{
        width: 80%;
      }
  
      .name-list{
        width: 100%;
      }
    
      .img-preparation{
        width: 100%;
      }
    }
  }

  #notification-form{
    p{
      margin-top: 80px;
      width: 70%;
    }
  }

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  #container-form{
    flex-direction: column;

    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
  
      textarea{
        width: 100%;
      }

      input{
        width: 80%;
      }

      label[for="recipe-img"]{
        width: 80%;
      }
  
      .name-list{
        width: 100%;
      }
    
      .img-preparation{
        width: 100%;
      }
    }
  }
  #notification-form{
    p{
      margin-top: 80px;
      width: 70%;
    }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  #container-form{
    flex-direction: column;

    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
  
      textarea{
        width: 100%;
      }

      input{
        width: 80%;
      }

      label[for="recipe-img"]{
        width: 80%;
      }
  
      .name-list{
        width: 100%;
      }
    
      .img-preparation{
        width: 100%;
      }
    }
  }
  #notification-form{
    p{
      margin-top: 80px;
      width: 50%;
    }
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  #container-form{
    flex-direction: column;

    form{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 90%;

      textarea{
        width: 100%;
      }

      input{
        width: 70%;
      }

      label[for="recipe-img"]{
        width: 70%;
      }
  
      .name-list{
        width: 45%;
      }
    
      .img-preparation{
        width: 45%;
      }
    }
  }

  #notification-form{
    p{
      margin-top: 80px;
      width: 40%;
    }
  }

}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #container-form{
    flex-direction: column;

    form{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 70%;

      textarea{
        width: 100%;
      }

      input{
        width: 70%;
      }

      label[for="recipe-img"]{
        width: 70%;
      }
  
      .name-list{
        width: 45%;
      }
    
      .img-preparation{
        width: 45%;
      }
    }
  }
}