@use "./variaveis.scss";

// GLOBAL STYLES
.div-btn-carregar-mais{
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 3em;

  button{
    width: 11em;
    height: 2.5em;
    background-color: variaveis.$color-main1;
    color: #fff;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 30px;
    border: none;
  }
  button:hover{
    scale: 1.05;
    // color: red;
  }
}


.global-categories{
  padding-top: 3em;
  margin-bottom: 10em;

  .div-title-categories{
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;

    h2{
      color: variaveis.$color-main1;
      margin-right: 15px;
      font-weight: 700;
    }

  }

  .cont-recipes-categories{
      flex-direction: column;
      align-items: center;
    
    .stars{
      position: absolute;
      left: 15px;
      top: 5px;
      color: rgb(231, 181, 56);
      text-shadow: 1px 1px black;
      z-index: 1;
    }
  
    .recipe-categoy1,
    .recipe-categoy2,
    .recipe-categoy3{
      position: relative;
      box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.5);
      border-radius: 30px;
      z-index: 1;
      width: 270px;
      height: 154px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 20px 0px;
  
      h4{
        color: variaveis.$color-main1;
        width: 260px;
        position: absolute;
        top: 160px;
        text-align: center;
        // margin-bottom: 20px;
      }
      a{
        display: inline-block;
        overflow: hidden;
        background: transparent;
        border-radius: 30px;
        transition: 0.3s ease-in-out;
      }
      img{
        object-fit: cover;
        border-radius: 30px;
        transition: 0.3s ease-in-out;
        z-index: -1;
      }:hover{
        scale: 1.03;
        z-index: 0;
        border-radius: 30px;
        
      }
    }

  }
}


            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .cont-recipes-categories{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 18px;
    }
  }
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cont-recipes-categories{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;

    .cont-receita-avaliada1,
    .cont-receita-avaliada2,
    .cont-receita-avaliada3,
    .cont-receita-avaliada4,
    .cont-receita-avaliada5,
    .cont-receita-avaliada6{
  
      h4{
        font-size: 20px;
      }
    }
}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .cont-recipes-categories{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    column-gap: 0px;
    row-gap: 30px;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 22px;
    }
  }
}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .cont-recipes-categories{
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 22px;
    }
  }
}
}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}