@use "variaveis";

            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #x-small{
    display: visible;
  }
  #small, #medium, #large, #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #navbar{
    position: relative;
    padding: 30px 20px;
    display: flex;
    // align-items: first baseline; 
    // flex-direction: column-reverse;
    justify-content: space-between;
    border: 1px solid red;

    // ul li:first-child{
    //   position: absolute;
    //   right: 78%;
    //   top: 244%;
    //   width: 120px;
    //   border: 1px solid red;
    // }

    .logo-link{
      width: 173px;
      height: 54px;
      border: 1px solid yellow;
      .logo{
        width: 110px;
        height: 54px;
      }
    }

    .hamburguer{
      display: flex;
      flex-direction: column;
      gap: -1px;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(203, 203, 179);
      width: 173px;
      height: 54px;
      cursor: pointer;

      .bar{
        display: block;
        width: 40px;
        height: 4px;
        border-radius: 2px;
        margin: 2px auto;
        transition: all 0.3s ease-in-out;
        background-color: variaveis.$color-main1;
      }
    }
    .hamburguer.active-close .bar:nth-child(1){
      transform: translateY(0.1em) rotate(46deg);
      margin: 0px auto;
    }
    .hamburguer.active-close .bar:nth-child(2){
      transform: translateY(-0.2em) rotate(-45deg);
      margin: 0px auto;
    }
  }
  #links-navbar{
    // transform: translateY(-150%);
    // margin-top: -100vh;
        transform: translateY(8%);
        width: 70%;
    margin-top: 10vh;
    height: 100vh;
    list-style-type: none;
    gap: 20px;
    border: 1px solid blue;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li{
      border: 1px solid blueviolet;
    }
  
    i{
      font-weight: 500;
      font-size: 18px;
      color: variaveis.$color-main1;
    }
    .search-bar-icon:hover{
      cursor: pointer;
    }
  
    .search-container{
      max-width: 30px;
      border-radius: 30px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: 0.8s ease;
      position: relative;
  
      input{
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 3px 10px;
        background-color: transparent;
        color: #000;
      }
    }
    .search-container.active{
      max-width: 300px;
      padding: 0 10px;
      background-color: #fff;
      border: 1px solid #fff;
    }
  
    a{
      color: variaveis.$color-main1;
      font-weight: 500;
      font-size: 18px;
    }:hover{
      color: variaveis.$color-main2;
    }
    img{
      width: 85%;
      height: 90%;
    }
  
    .dropdown-category{
      display: none;
      position: absolute;
      left: 28%;
      background-color: #f1f1f1;
      max-width: 45%;
      max-height: 400px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 20px 5px;
      border-radius: 0px 0 30px 30px;
  
      a{
        color: variaveis.$color-main1;
        padding: 12px 16px;
        text-decoration: none;
        display: inline-block;
        
      }:hover{
        color: variaveis.$color-main2;
      }
    }
  }

  #navbar-offcanvas{
    transition: 0.7s ease;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    // z-index: -100;
  
    #links-navbar-offcanvas{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5em;
      height: 100%;
      width: 95%;
      list-style-type: none;
      padding-left: 0;
  
      a{
        color: variaveis.$color-main1;
        font-weight: 500;
      }:hover{
        color: variaveis.$color-main2;
      }
  
      div{
        background:#fff;
        border-radius: 30px;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      }
  
      input{
        display: inline-block;
        border: none;
        padding-left: 10px;
        border-radius: 30px;
        height: 25px;
      }:focus{
        outline: none;
      }
  
      img{
        width: 24px;
        height: 24px;
      }
      .dropdown-category-offcanvas{
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        padding: 150px 10px 0px 10px;
        height: 220px;
        a{
          padding: 0.1em;
          margin: 0.1em;
        }
      }
    }
  
    #category-offcanvas{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      transition: 0.3s ease-in-out;
    }
  
  }

  // SEÇÃO 02
  #section-02{

    .container-cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
  
      .card1{

        .desc-card{
          inset: auto auto 200px 30px;
        }
  
        .ingredientes-card{
          inset: auto auto 90px 30px;
        }
  
        .time-card{
          inset: auto auto 30px 30px;
        }
      }
  
      .card2{

        .desc-card2{
          inset: auto auto 220px 30px;
        }
  
        .ingredientes-card2{
          inset: auto auto 90px 30px;
        }
  
        .time-card2{
          inset: auto auto 30px 30px;
        }
      }
  
      .card3{

        .desc-card3{
          inset: auto auto 220px 30px;
        }
  
        .ingredientes-card3{
          inset: auto auto 90px 30px;
        }
  
        .time-card3{
          inset: auto auto 30px 30px;
        }
      }
  
      .card4{

        .desc-card4{
          inset: auto auto 270px 30px;
        }
  
        .ingredientes-card4{
          inset: auto auto 140px 30px;
        }
  
        .time-card4{
          inset: auto auto 80px 30px;
        }
      }

    }
  
  }

  // SEÇÃO 03
  .container-bem-avaliadas{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 18px;
    }
  }
}


  // RODAPÉ
  .footer{
    padding-top: 8em;

    .container-social{
      padding-left: 2em; 
      justify-content: start;
      display: flex;
      gap: 3em;
      margin-bottom: 5em;
    }

    .links-rodape{
      padding-left: 2em; 
      flex-direction: column;
      align-items: start;
      justify-content: start;
      ul{
        display: initial;
      }
      li{
        margin-top: 1.5em;
      }
    }
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #small{
    display: visible;
  }
  #x-small, #medium, #large, #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #navbar{
    // position: relative;
    // padding: 30px 10px;
    // display: flex;
    // flex-direction: column-reverse;
    // justify-content: center;
    // align-items: center;
    // border: 1px solid red;

    .logo-link{
      border: 1px solid yellow;
      .logo{

      }
    }
  }
  #links-navbar{
    // border: 1px solid blue;
    // padding-left: 0px;
    // display: flex;
    // flex-direction: column;
    // height: 100vh;
    // align-items: center;

    li{
      border: 1px solid blueviolet;
    }
  
    i{
      font-weight: 500;
      font-size: 18px;
      color: variaveis.$color-main1;
    }
    .search-bar-icon:hover{
      cursor: pointer;
    }
  
    .search-container{
      max-width: 30px;
      border-radius: 30px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: 0.8s ease;
      position: relative;
  
      input{
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 3px 10px;
        background-color: transparent;
        color: #000;
      }
    }
    .search-container.active{
      max-width: 300px;
      padding: 0 10px;
      background-color: #fff;
      border: 1px solid #fff;
    }
  
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
  
    a{
      color: variaveis.$color-main1;
      font-weight: 500;
      font-size: 18px;
    }:hover{
      color: variaveis.$color-main2;
    }
    img{
      width: 85%;
      height: 90%;
    }
  
    .dropdown-category{
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      max-width: 45%;
      max-height: 400px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 20px 5px;
      border-radius: 30px 0 30px 30px;
  
      a{
        color: variaveis.$color-main1;
        padding: 12px 16px;
        text-decoration: none;
        display: inline-block;
        
      }:hover{
        color: variaveis.$color-main2;
      }
    }
  }

  // SEÇÃO 03
  .container-bem-avaliadas{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;

    .cont-receita-avaliada1,
    .cont-receita-avaliada2,
    .cont-receita-avaliada3,
    .cont-receita-avaliada4,
    .cont-receita-avaliada5,
    .cont-receita-avaliada6{
  
      h4{
        font-size: 20px;
      }
    }
}

  // RODAPÉ
  .footer{
    padding-top: 8em;
    margin-left: 2em !important;

    .container-social{
      padding-left: 2em; 
      justify-content: start;
      display: flex;
      gap: 3em;
      margin-bottom: 5em;
    }

    .links-rodape{
      padding-left: 2em; 
      flex-direction: column;
      align-items: start;
      justify-content: start;
      ul{
        display: initial;
      }
      li{
        margin-top: 1.5em;
      }
    }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #medium{
    display: block;
  }
  #x-small, #small, #large, #x-large, #xx-large{
    display: none;
  }

    // NAVBAR
    #navbar{
      // position: relative;
      // padding: 30px 10px;
      // display: flex;
      // flex-direction: column-reverse;
      // justify-content: center;
      // align-items: center;
      // border: 1px solid red;
  
      .logo-link{
        // border: 1px solid yellow;
        // margin: 0 auto;
        .logo{

        }
      }
  
      button{
        // border: 1px solid yellow;
        // align-self: flex-end;
      }
    }
    #links-navbar{
      // border: 1px solid blue;
      // margin: 0px;
      // padding-left: 0px;
      // display: flex;
      // flex-direction: column;
      // height: 100vh;
      // align-items: center;
  
      li{
        // border: 1px solid blueviolet;
      }
    
      i{
        font-weight: 500;
        font-size: 18px;
        color: variaveis.$color-main1;
      }
      .search-bar-icon:hover{
        cursor: pointer;
      }
    
      .search-container{
        max-width: 30px;
        border-radius: 30px;
        padding-left: 5px;
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: 0.8s ease;
        position: relative;
    
        input{
          outline: none;
          border: none;
          border-radius: 10px;
          padding: 3px 10px;
          background-color: transparent;
          color: #000;
        }
      }
      .search-container.active{
        max-width: 300px;
        padding: 0 10px;
        background-color: #fff;
        border: 1px solid #fff;
      }
    
    
    
      a{
        color: variaveis.$color-main1;
        font-weight: 500;
        font-size: 18px;
      }:hover{
        color: variaveis.$color-main2;
      }
      img{
        width: 85%;
        height: 90%;
      }
    
      .dropdown-category{
        display: none;
        position: absolute;
        left: 28%;
        background-color: #f1f1f1;
        max-width: 45%;
        max-height: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 20px 5px;
        border-radius: 0px 0 30px 30px;
    
        a{
          color: variaveis.$color-main1;
          padding: 12px 16px;
          text-decoration: none;
          display: inline-block;
          
        }:hover{
          color: variaveis.$color-main2;
        }
      }
    }

    // SEÇÃO 02
  #section-02{

    .container-cards{
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      gap: 30px;

      .card3{
  
        h4{
          inset: 380px 350px 220px 30px;
          width: 60%;
          transition: inset .3s ease-out;
        }

        .desc-card3{
          inset: auto auto 220px 30px;
        }
  
        .ingredientes-card3{
          inset: auto auto 90px 30px;
        }
  
        .time-card3{
          inset: auto auto 30px 30px;
        }

        &:hover h4{
          inset: 25px 25px 380px 30px;
        }
      }

    }
  
  }

  // SEÇÃO 03
  .container-bem-avaliadas{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    column-gap: 0px;
    row-gap: 30px;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 22px;
    }
  }
}

  // RODAPÉ
  .footer{
    padding-top: 8em;
    margin-left: 2em !important;

    .container-social{
      padding-left: 2em; 
      justify-content: start;
      display: flex;
      gap: 3em;
      margin-bottom: 5em;
    }

    .links-rodape{
      padding-left: 2em; 
      flex-direction: column;
      align-items: start;
      justify-content: start;
      ul{
        display: initial;
      }
      li{
        margin-top: 1.5em;
      }
    }
  }

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #large{
    display: block;
  }
  #x-small, #small, #medium , #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #navbar{
    position: relative;
    padding: 5px 30px;
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    #category {
      padding-bottom: 0px;
    }

    // ul li:first-child{
    //   position: absolute;
    //   right: 85%;
    //   width: 120px;
    //   // border: 1px solid red;

    // }

    .logo-link{
      border: 1px solid yellow;
      .logo{

      }
    }

    .hamburguer{
      display: none;
      cursor: pointer;
      border: 1px solid yellow;


      .bar{
        display: block;
        width: 40px;
        height: 4px;
        border-radius: 2px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: variaveis.$color-main1;
      }
    }
  }
  #links-navbar{
    //     transform: translateY(-150%);
    // margin-top: -100vh;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    height: 4em;

    li{
      border: 1px solid blueviolet;
    }
  
    i{
      font-weight: 500;
      font-size: 18px;
      color: variaveis.$color-main1;
    }
    .search-bar-icon:hover{
      cursor: pointer;
    }
  
    .search-container{
      max-width: 30px;
      border-radius: 30px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: 0.8s ease;
      position: relative;
  
      input{
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 3px 10px;
        background-color: transparent;
        color: #000;
      }
    }
    .search-container.active{
      max-width: 300px;
      padding: 0 10px;
      background-color: #fff;
      border: 1px solid #fff;
    }
  
  
  
    a{
      color: variaveis.$color-main1;
      font-weight: 500;
      font-size: 18px;
    }:hover{
      color: variaveis.$color-main2;
    }
    img{
      width: 85%;
      height: 90%;
    }
  
    .dropdown-category{
      display: none;
      position: absolute;
      left: 60%;
      background-color: #f1f1f1;
      max-width: 45%;
      max-height: 400px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 20px 5px;
      border-radius: 30px 0 30px 30px;
  
      a{
        color: variaveis.$color-main1;
        padding: 12px 16px;
        text-decoration: none;
        display: inline-block;
        
      }:hover{
        color: variaveis.$color-main2;
      }
    }
  }
  #btn-menu, #navbar-offcanvas{
    display: block;
  }
  #logo{
    display: inline-block;
  }

  // OFFCANVAS
  #btn-close{
    display: none;
  }

  // RODAPÉ
  .footer{
    padding-top: 5em;
    margin-left: auto !important;
  
    .container-social{
      padding-left: 0em;   
      justify-content: center;
      display: flex;
      gap: 6em;
      margin-bottom: 8em;
    }
  
    .links-rodape{
      padding-left: 0em;   
      flex-direction: row;
      display: flex;
      justify-content: center;
      ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0px;
      }
    }
  }

.div-suggestions{
  bottom: 131.1em;
  left: -5.3em;
}

}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #x-large{
    display: block;
  }
  #x-small, #small, #medium , #large , #xx-large{
    display: none;
  }

  // SEÇÃO 02
  #section-02{

    .container-cards{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
  }
  // SEÇÃO 03
  .container-bem-avaliadas{
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 22px;
    }
  }
}
.div-suggestions{
  bottom: 101.1em;
  left: 9em;
}

}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #xx-large{
    display: block;
  }
  #x-small, #small, #medium , #large , #x-large {
    display: none;
  }

  // SEÇÃO 02
  #section-02{

    .container-cards{
      gap: 50px;
    }
  
  }

.div-suggestions{
  bottom: 101.1em;
  left: 18.5em;
}
}