@use "variaveis";

            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #x-small{
    display: visible;
  }
  #small, #medium, #large, #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #links-navbar{
    display: none;
  }

  // SEÇÃO 02
  #section-02{

    .container-cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
  
      .card1{

        .desc-card{
          inset: auto auto 200px 30px;
        }
  
        .ingredientes-card{
          inset: auto auto 90px 30px;
        }
  
        .time-card{
          inset: auto auto 30px 30px;
        }
      }
  
      .card2{

        .desc-card2{
          inset: auto auto 220px 30px;
        }
  
        .ingredientes-card2{
          inset: auto auto 90px 30px;
        }
  
        .time-card2{
          inset: auto auto 30px 30px;
        }
      }
  
      .card3{

        .desc-card3{
          inset: auto auto 220px 30px;
        }
  
        .ingredientes-card3{
          inset: auto auto 90px 30px;
        }
  
        .time-card3{
          inset: auto auto 30px 30px;
        }
      }
  
      .card4{

        .desc-card4{
          inset: auto auto 270px 30px;
        }
  
        .ingredientes-card4{
          inset: auto auto 140px 30px;
        }
  
        .time-card4{
          inset: auto auto 80px 30px;
        }
      }

    }
  
  }

  // SEÇÃO 03
  .container-bem-avaliadas{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 18px;
    }
  }
}

  // RODAPÉ
  .footer{
    padding-top: 8em;

    .container-social{
      padding-left: 2em; 
      justify-content: start;
      display: flex;
      gap: 3em;
      margin-bottom: 5em;
    }

    .links-rodape{
      padding-left: 2em; 
      flex-direction: column;
      align-items: start;
      justify-content: start;
      ul{
        display: initial;
      }
      li{
        margin-top: 1.5em;
      }
    }
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #small{
    display: visible;
  }
  #x-small, #medium, #large, #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #links-navbar{
    display: none;
  }

  // SEÇÃO 03
  .container-bem-avaliadas{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;

    .cont-receita-avaliada1,
    .cont-receita-avaliada2,
    .cont-receita-avaliada3,
    .cont-receita-avaliada4,
    .cont-receita-avaliada5,
    .cont-receita-avaliada6{
  
      h4{
        font-size: 20px;
      }
    }
}

  // RODAPÉ
  .footer{
    padding-top: 8em;
    margin-left: 2em !important;

    .container-social{
      padding-left: 2em; 
      justify-content: start;
      display: flex;
      gap: 3em;
      margin-bottom: 5em;
    }

    .links-rodape{
      padding-left: 2em; 
      flex-direction: column;
      align-items: start;
      justify-content: start;
      ul{
        display: initial;
      }
      li{
        margin-top: 1.5em;
      }
    }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #medium{
    display: block;
  }
  #x-small, #small, #large, #x-large, #xx-large{
    display: none;
  }

    // NAVBAR
  #links-navbar{
    display: none;
  }

    // SEÇÃO 02
  #section-02{

    .container-cards{
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      gap: 30px;

      .card3{
  
        h4{
          inset: 380px 350px 220px 30px;
          width: 60%;
          transition: inset .3s ease-out;
        }

        .desc-card3{
          inset: auto auto 220px 30px;
        }
  
        .ingredientes-card3{
          inset: auto auto 90px 30px;
        }
  
        .time-card3{
          inset: auto auto 30px 30px;
        }

        &:hover h4{
          inset: 25px 25px 380px 30px;
        }
      }

    }
  
  }

  // SEÇÃO 03
  .container-bem-avaliadas{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    column-gap: 0px;
    row-gap: 30px;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 22px;
    }
  }
}

  // RODAPÉ
  .footer{
    padding-top: 8em;
    margin-left: 2em !important;

    .container-social{
      padding-left: 2em; 
      justify-content: start;
      display: flex;
      gap: 3em;
      margin-bottom: 5em;
    }

    .links-rodape{
      padding-left: 2em; 
      flex-direction: column;
      align-items: start;
      justify-content: start;
      ul{
        display: initial;
      }
      li{
        margin-top: 1.5em;
      }
    }
  }

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #large{
    display: block;
  }
  #x-small, #small, #medium , #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #links-navbar{
    display: inherit;
  }
  #btn-menu, #navbar-offcanvas{
    display: none;
  }
  #logo{
    display: inline-block;
  }

  // OFFCANVAS
  #btn-close{
    display: none;
  }

  // RODAPÉ
  .footer{
    padding-top: 5em;
    margin-left: auto !important;
  
    .container-social{
      padding-left: 0em;   
      justify-content: center;
      display: flex;
      gap: 6em;
      margin-bottom: 8em;
    }
  
    .links-rodape{
      padding-left: 0em;   
      flex-direction: row;
      display: flex;
      justify-content: center;
      ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0px;
      }
    }
  }

}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #x-large{
    display: block;
  }
  #x-small, #small, #medium , #large , #xx-large{
    display: none;
  }

  // SEÇÃO 02
  #section-02{

    .container-cards{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
  }
  // SEÇÃO 03
  .container-bem-avaliadas{
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{

    h4{
      font-size: 22px;
    }
  }
}

}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #xx-large{
    display: block;
  }
  #x-small, #small, #medium , #large , #x-large {
    display: none;
  }

  // SEÇÃO 02
  #section-02{

    .container-cards{
      gap: 50px;
    }
  
  }
}