@use "variaveis";

            /*media queries*/
/* X-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #x-small{
    display: visible;
  }
  #small, #medium, #large, #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #links-navbar{
    display: none;
  }
  // SEÇÃO 02
#section-02{

  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #small{
    display: visible;
  }
  #x-small, #medium, #large, #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #links-navbar{
    display: none;
  }
  // #logo{
  //   display: none;
  // }

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #medium{
    display: block;
  }
  #x-small, #small, #large, #x-large, #xx-large{
    display: none;
  }

    // NAVBAR
  #links-navbar{
    display: none;
  }
  // #logo{
  //   display: none;
  // }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #large{
    display: block;
  }
  #x-small, #small, #medium , #x-large, #xx-large{
    display: none;
  }

  // NAVBAR
  #links-navbar{
    display: inherit;
  }
  #btn-menu, #navbar-offcanvas{
    display: none;
  }
  #logo{
    display: inline-block;
  }

  // OFFCANVAS
  #btn-close{
    display: none;
  }

}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #x-large{
    display: block;
  }
  #x-small, #small, #medium , #large , #xx-large{
    display: none;
  }

    // NAVBAR


}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #xx-large{
    display: block;
  }
  #x-small, #small, #medium , #large , #x-large {
    display: none;
  }

    // NAVBAR
}