@use "variaveis";
@use "carrosel";

// *{
//   border: 1px solid red;
//   padding: 1px;
// }
*{
  font-family: variaveis.$font-main;
}
a{
  text-decoration: none !important;
}
#body{
  background-color: variaveis.$color-light;
}
.hr{
  color: variaveis.$color-main1;
  opacity: 100;
  margin: 1.5em 2em;
}
#by-pedro-henrique{
  display: inline-block;
  color: variaveis.$color-main1;
  margin: 2em 2em 1em 2em;
}

// -- NAVBAR
#navbar{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#links-navbar{
  display: flex;
  gap: 1.5em;
  height: 100%;
  list-style-type: none;
  justify-content: baseline;
  align-items: baseline;

  i{
    font-weight: 500;
    font-size: 18px;
    color: variaveis.$color-main1;
  }
  #search-bar-icon:hover{
    cursor: pointer;
  }

  .search-container{
    max-width: 30px;
    border-radius: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.8s ease;

    input{
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 3px 10px;
      background-color: transparent;
      color: #000;
    }
  }
  .search-container.active{
    max-width: 300px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #fff;
  }

  a{
    color: variaveis.$color-main1;
    font-weight: 500;
    font-size: 18px;
  }:hover{
    color: variaveis.$color-main2;
  }
  img{
    width: 85%;
    height: 90%;
  }

  .dropdown-category{
    display: none;
    position: absolute;
    left: 50%;
    background-color: #f1f1f1;
    max-width: 45%;
    max-height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px 5px;
    border-radius: 30px 0 30px 30px;

    a{
      color: variaveis.$color-main1;
      padding: 12px 16px;
      text-decoration: none;
      display: inline-block;
      
    }:hover{
      color: variaveis.$color-main2;
    }
  }
}
.dropdown-category{
  transition: 0.5s ease-in-out;
}
#category:hover .dropdown-category{
  display: block;
}

#category{
  transition: 0.5s ease-in-out;
  padding-bottom: 10px;
}
#category-link:hover i{
  color: variaveis.$color-main2;
}

#btn-menu, #btn-close{
  background: transparent;
  border: none;

}
#btn-close{
  font-size: 30px;
  color: variaveis.$color-main1;
}

// --NAVBAR-OFFCANVAS
#navbar-offcanvas{
  transition: 0.7s ease;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // z-index: -100;


  #links-navbar-offcanvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    height: 100%;
    width: 95%;
    list-style-type: none;
    padding-left: 0;

    a{
      color: variaveis.$color-main1;
      font-weight: 500;
    }:hover{
      color: variaveis.$color-main2;
    }

    div{
      background:#fff;
      border-radius: 30px;
      padding: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    input{
      display: inline-block;
      border: none;
      padding-left: 10px;
      border-radius: 30px;
      height: 25px;
    }:focus{
      outline: none;
    }

    img{
      width: 24px;
      height: 24px;
    }
    .dropdown-category-offcanvas{
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      width: 60%;
      align-items: center;
      justify-content: center;
      overflow: scroll;
      padding: 150px 10px 0px 10px;
      height: 220px;
      a{
        padding: 0.1em;
        margin: 0.1em;
      }
    }
  }

  #category-offcanvas{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

}

#category{
  i{
    margin-left: 4px;
  }
}

.logo{
  width: 120px;
  height: 70px;
}
#logo{
  transition: 0.8s ease-out;
}

// SEÇÃO 01
#section-01{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  #all-recipes-section01{
    padding:5px;
    margin-top: 20px;
    text-decoration: underline !important;
    color: variaveis.$color-main1;
    transition: 0.3s ease-in-out;
  }
  #all-recipes-section01:hover{
    color: variaveis.$color-main2;
  }
}

// SEÇAÕ 02
#section-02{

  .div-receitas-procuradas{
    display: flex;
    align-items:last baseline;

    h2{
    padding: 5px;
    color: variaveis.$color-main1;
    margin-bottom:30px;
    }
  } 

  .container-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .card1{

      h4{
        color: variaveis.$color-light;
      }

      p{
        color: variaveis.$color-light;
      }

      .desc-card{
        inset: auto auto 200px 30px;
      }

      .ingredientes-card{
        inset: auto auto 90px 30px;
      }

      .time-card{
        inset: auto auto 30px 30px;
      }
    }

    .card2{

      h4{
        color: variaveis.$color-light;
        text-shadow: 2px 2px black;
      }

      p{
        color: variaveis.$color-light;
      }
      .desc-card2{
        inset: auto auto 220px 30px;
      }

      .ingredientes-card2{
        inset: auto auto 90px 30px;
      }

      .time-card2{
        inset: auto auto 30px 30px;
      }
    }

    .card3{

      h4{
        color: variaveis.$color-light;
      }

      p{
        color: variaveis.$color-light;
      }
      .desc-card3{
        inset: auto auto 220px 30px;
      }

      .ingredientes-card3{
        inset: auto auto 90px 30px;
      }

      .time-card3{
        inset: auto auto 30px 30px;
      }
    }

    .card4{

      h4{
        color: variaveis.$color-light;
        text-shadow: 2px 2px black;
      }

      p{
        color: variaveis.$color-light;
      }

      .desc-card4{
        inset: auto auto 270px 30px;
      }

      .ingredientes-card4{
        inset: auto auto 140px 30px;
      }

      .time-card4{
        inset: auto auto 80px 30px;
      }
    }

    
    .cards{
      position: relative;
      overflow: hidden;
      width: 270px;
      height: 452px;
      border-radius: 30px;
      box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.5);

      a{
        display: inline-block;
      }
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        transition: .2s ease-out;
        border-radius: 30px;
      }
      h4{
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-weight: 700;
      }
      p{
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
      }

      &:hover h4 {
        inset: auto auto 400px 30px;
        transition: inset .3s ease-out;
      }
      &:hover p{
        opacity: 1;
        transition: opacity .5s .1s ease-in;
      }
      &:hover img {
        transition: .3s ease-in;
        filter: brightness(50%)
      }
    }
  }
}
#all-recipes-section02{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 0px;
  a{
    color: variaveis.$color-main1;
    text-decoration: underline !important;
    transition: 0.3s ease-in-out;

  }:hover{
    color: variaveis.$color-main2;
  }
}

// SEÇÃO 03
#section-03{

  .div-as-mais-avaliadas{
    display: flex;
    align-items:last baseline;

    h2{
      padding: 5px;
      color: variaveis.$color-main1;
      margin-bottom:30px;
      position: relative;
      bottom: 17px;
    }
  }

  .container-bem-avaliadas{
    flex-direction: column;
    align-items: center;
  
  .stars{
    position: absolute;
    left: 15px;
    top: 5px;
    color: rgb(231, 181, 56);
    text-shadow: 1px 1px black;
    z-index: 1;
  }

  .cont-receita-avaliada1,
  .cont-receita-avaliada2,
  .cont-receita-avaliada3,
  .cont-receita-avaliada4,
  .cont-receita-avaliada5,
  .cont-receita-avaliada6{
    position: relative;
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.5);
    // border: 1px solid red;
    border-radius: 30px;
    z-index: 1;
    width: 270px;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 0px;

    h4{
      // border: 1px solid black;
      color: variaveis.$color-main1;
      width: 260px;
      position: absolute;
      top: 160px;
      text-align: center;
    }
    a{
      display: inline-block;
      overflow: hidden;
      background: transparent;
      border-radius: 30px;
      transition: 0.3s ease-in-out;
    }
    img{
      object-fit: cover;
      border-radius: 30px;
      transition: 0.3s ease-in-out;
      z-index: -1;
    }:hover{
      scale: 1.03;
      z-index: 0;
      border-radius: 30px;
      
    }
  }
}
}
// RODAPÉ
.footer{
  padding-top: 5em;

  .container-social{
    padding-left: 2em;   
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
    margin-bottom: 8em;
    a{
      transition: 0.3s ease-in-out;
    }
    i{
      font-size: 35px;
      color: variaveis.$color-main1;
      transition: 0.3s ease-in-out;
    }:hover{
      scale: 1.1;
      transition: 0.3s ease-in-out;
    }
  }

  .links-rodape{
    padding-left: 0em;   
    display: flex;
    justify-content: center;
    ul{
      list-style-type: none;
      display: flex;
      gap: 20px;
      padding: 0px;
    }
    a{
    color: variaveis.$color-main1;
    }:hover{
      color: rgb(68, 26, 2);
    }
  }
}