@use "variaveis";

// *{
//   border: 1px solid red;
//   padding: 1px;
// }

a{
  text-decoration: none !important;
}
#body{
  background-color: variaveis.$color-light;
}

// -- NAVBAR

#navbar{
  // border: 1px solid red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#links-navbar{
  display: flex;
  gap: 1.5em;
  height: 100%;
  list-style-type: none;

  a{
    color: variaveis.$color-main1;
    font-weight: 500;
  }:hover{
    color: variaveis.$color-main2;
  }
  img{
    width: 85%;
    height: 90%;
  }

  .dropdown-category{
    display: none;
    position: absolute;
    left: 50%;
    background-color: #f1f1f1;
    max-width: 45%;
    max-height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px 5px;
    border-radius: 30px 0 30px 30px;

    a{
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: inline-block;
      
    }:hover{
      color: red;
    }
  }
}
#category:hover .dropdown-category{
  display: block;
  transition: 0.5s ease-in-out;

}
#category{
  transition: 0.5s ease-in-out;
  padding-bottom: 10px;
}

#btn-menu, #btn-close{
  background: transparent;
  border: none;

}
#btn-close{
  font-size: 30px;
  color: variaveis.$color-main1;
}

// --NAVBAR-OFFCANVAS
#navbar-offcanvas{
  transition: 0.7s ease;
  padding: 10px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;

  #links-navbar-offcanvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 1.5em;
    height: 100%;
    width: 95%;
    list-style-type: none;
    padding-left: 0;

    a{
      color: variaveis.$color-main1;
      font-weight: 500;
    }:hover{
      color: variaveis.$color-main2;
    }

    div{
      background:#fff;
      border-radius: 30px;
      padding: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    input{
      display: inline-block;
      border: none;
      padding-left: 10px;
      border-radius: 30px;
      height: 25px;
    }:focus{
      outline: none;
    }

    img{
      width: 24px;
      height: 24px;
    }
  }

  #category-offcanvas{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .dropdown-category-offcanvas{
      // display: none;
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content: center;

      a{
        padding: 0.1em;
        margin: 0.1em;
      }
    }
  }
}

#category{
  i{
    margin-left: 4px;
  }
}

.logo{
  width: 120px;
  height: 70px;
}
#logo{
  transition: 0.8s ease-out;
}