@use "variaveis";

// *{
//   border: 1px solid red;
//   padding: 2px;
// }
a{
  text-decoration: none !important;
}
#body{
  background-color: variaveis.$color-light;
}

// -- NAVBAR

#navbar{
  // border: 1px solid red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#links-navbar{
  display: flex;
  gap: 1.5em;
  height: 100%;
  list-style-type: none;

  a{
    color: variaveis.$color-main1;
    font-weight: 500;
  }:hover{
    color: variaveis.$color-main2;
  }
  img{
    width: 85%;
    height: 90%;
  }
}

#btn-menu{
  background: transparent;
  border: none;
}

// --NAVBAR-OFFCANVAS
#navbar-offcanvas{
  padding: 10px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 100vh;
  width: 100vw;

  #links-navbar-offcanvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 1.5em;
    height: 100%;
    width: 95%;
    list-style-type: none;
    padding-left: 0;

    a{
      color: variaveis.$color-main1;
      font-weight: 500;
    }:hover{
      color: variaveis.$color-main2;
    }

    div{
      background:#fff;
      border-radius: 30px;
      padding: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    input{
      display: inline-block;
      border: none;
      padding-left: 10px;
      border-radius: 30px;
      height: 25px;
    }:focus{
      outline: none;
    }

    img{
      width: 24px;
      height: 24px;
    }
  }
}

#category{
  i{
    margin-left: 4px;
  }
}

.logo{
  width: 120px;
  height: 70px;
}