// Cores:
$color-light: rgba(217, 217, 217, 1);
$color-main1: rgba(89, 34, 2, 1);
$color-main2: rgba(191, 129, 75, 1);
$color-stars: rgb(231, 181, 56);


// Fonte
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Readex+Pro&display=swap');

$font-main: 'Readex Pro', sans-serif;
$font-titles: 'Quintessential', cursive;

// Classes globais
.none{
  display: none;
}
.visibleD{
  display: inline-block;
}
.hidden{
  display: ruby;
}
.hidden-offcanvas{
  transform: translateY(-150%);
  margin-top: -100vh;
}
.show-offcanvas{
  transform: translateY(0%);
  margin-top: 0vh;
}
.no-scroll{
  overflow: hidden;
}

// ANIMAÇÕES

.show-notification-form{
animation: fade-in 1 linear forwards;
animation-duration: 2s;

@keyframes fade-in {
  0%{
    visibility: visible;
    margin-top: -100%;
  }
  50%{
    visibility: visible;
    margin-top: -40%;
  }
  60%{
    visibility: visible;
    margin-top: -30%;
  }
  75%{
    visibility: visible;
    margin-top: 2%;
  }
  100%{
    visibility: visible;
    margin-top: 0%;
  }
}
}
