// Cores:
$color-light: rgba(217, 217, 217, 1);
$color-main1: rgba(89, 34, 2, 1);
$color-main2: rgba(191, 129, 75, 1);

// Fonte
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

$font-main: 'Readex Pro', sans-serif;

