// Cores:
$color-light: rgba(217, 217, 217, 1);
$color-main1: rgba(89, 34, 2, 1);
$color-main2: rgba(191, 129, 75, 1);
$color-stars: rgb(231, 181, 56);


// Fonte
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Readex+Pro&display=swap');

$font-main: 'Readex Pro', sans-serif;
$font-titles: 'Quintessential', cursive;

// Classes globais
.none{
  display: none;
}
.visibleD{
  display: inline-block;
}
.hidden-offcanvas{
  transform: translateY(-150%);
  margin-top: -100vh;
}
.show-offcanvas{
  transform: translateY(0%);
  margin-top: 0vh;
}
.no-scroll{
  overflow: hidden;
}

// .active{
//   max-width: 30px !important;
// }

// Animações

// @keyframes softoffcanvas {
//   0% {
//     // position: relative;
//     transform: translateY(-150%);
//     transition: ease-out;

//   }
//   50%{
//     // position: relative;
//     transform: translateY(100%);
//     transition: ease-out;

//   }
//   100%{
//     // position: relative;
//     transform: translateY(0);
//     transition: ease-out;
//   }
// }
